<form>
  <div class="row input-group">
    <div class="form-group">
      <input type="text"
            placeholder="From"
            class="form-control"
            bsDatepicker
            name="startDate"
            [bsConfig]="bsConfig"
            [(ngModel)]="startDate"
            (bsValueChange)="onStartDateChange($event)"
            [maxDate]="endDate">
    </div>

    <a (click)="resetStartDate()">x</a>

    <div class="form-group ml-3">
      <input type="text"
            placeholder="To"
            class="form-control"
            bsDatepicker
            name="endDate"
            [bsConfig]="bsConfig"
            [(ngModel)]="endDate"
            (bsValueChange)="onEndDateChange($event)"
            [minDate]="startDate">
    </div>

    <a (click)="resetEndDate()">x</a>

  </div>
</form>
